*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    font-family: "Merriweater", sans-serif;
    font-size: 20px;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #A18CEA;
    padding: 1rem .5rem;
}

footer .logo-socials img{
    height: 8em;
}

footer .logo-socials .social-medias{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer .logo-socials .social-medias i{
    font-size: 30px;
    color: white;
}

footer .list-1{
    list-style: none;
    color: white;
}

