<footer>
    <section class="footer-content">
    <div class="logo-socials">
        <div class="logo-footer">
            <h1>Daikib</h1>
        </div>
        <ul class="social-medias">
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
    </div>
    <div>
        <ul class="list-1">
            <li>Terminos y Condiciones</li>
            <li>Acerca de</li>
            <li><i class="fa-solid fa-copyright"></i> Daikib</li>
        </ul>
    </div>
    <div class="list-2">
        <ul>
            <li>Marvel</li>
            <li>Disney+</li>
            <li>Netflix</li>
            <li>HBO+</li>
            <li>DC Comics</li>
            <li>Paramount</li>
            <li>Star+</li>
            <li>TNT</li>
        </ul>
    </div>
</section>
</footer>