<header>
    <section class="nav-bar">
        <div class="logo">
            <h1 style="font-weight: bold;">D</h1>
            <h2>Daikib</h2>
        </div>
        <div class="login-register">
            <a href="/login">Ingresar</a>
            <a href="/register">Registrarse</a>
        </div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Buscar pelicula o serie">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                  </button>
            </form>
        </div>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </section>
</header>